* {
	font-family: garamond, arial, sans-serif;
}

button {
	border: none;
	background-color: #ddd;
	box-shadow: -2px 2px 2px #eee;
	margin: 5px 20px;
	font-size: 20px;
	padding: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #eee;
}

.load-bar-outline {
	width: 300px;
	padding: 0 5px 0 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px 20px;
}

.load-bar {
	width: 0;
	height: 25px;
	padding: 5px 0 5px 5px;
	background-color: pink;
}